{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" 
        rel="stylesheet">
</head>
<body>
  <main>
      <h2>Login</h2>
      {% if form.errors %}
        <p style="color: red;">Invalid username or password</p>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit">Login</button>
      </form>
  <p>Don't have an account? <a href="{% url 'backend:register' %}">Register here</a></p>
  </main>
</body>
</html>
