# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
frontend/node_modules/

#ide
frontend/.vscode/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
media/
staticfiles/
local_settings.py

# Railway
.railway/

# Environment variables
.env
.env.local
.env.production

# Large ML files
*.keras
*.h5
*.pkl
*.joblib
local_settings.py

.venv*
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
ml_utils/data/
ml_utils/new_data/
ml_utils/state_of_the_art_models/
ml_utils/model_performance/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model files
*.keras
*.h5

# Other
*.bak